@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Oswald:wght@200;300&family=Raleway:wght@500&display=swap');
        
        
        body    {
            background-color: #ffd890;
            font-family: 'Raleway', sans-serif;


        }

        
        header {
            
            text-align:center;
            
            
            
            
        }
        
        h1  {
            
            font-family: 'Fredoka One', cursive;
            color: rgb(61, 61, 31);
            


        }
        
        
        main {

            text-align:center;
            margin-top: 30px;
         }
        
         #clock {

            margin-top: 50px;
            margin-bottom: 30px;
            border: 2px solid black;
            border-radius: 50%;
            flexbox: auto;
            opacity: 0.8;

         }

         #seconds-alive {

            color: rgb(77, 104, 224)
         }

         input {
          
          padding: 4px;
          border: 1px solid black;
          font-size: 12px;

        }
        
