@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Oswald:wght@200;300&family=Raleway:wght@500&display=swap');
        
        
        body    {
            background-color: #ffe2ad;
            font-family: 'Raleway', sans-serif;
        }

        
        header { 
            text-align:center;
            margin-top: 40px;
            
        }

        button {
            cursor: pointer;
            background-color: black;
            color: white;
            border-radius: 5px;
            padding: 5px;
        }
        
        h1  {
            
            font-family: 'Fredoka One', cursive;
            color: rgb(61, 61, 31);
            
        }

        #clock {
            width: 400px;
        }
        
        
        main {

            text-align:center;
            margin-top: 30px;
        }
        
         #clock {

            margin-top: 50px;
            margin-bottom: 30px;
            border: 2px solid black;
            border-radius: 50%;
            opacity: 0.8;

        }

         #seconds-alive {

            color: rgb(77, 104, 224)
        }

        #form  {
            display: flex;
            justify-content: center;
        }

        label {
            margin-right: 10px;
        }

         input {
          
          padding: 4px;
          border: 1px solid black;
          font-size: 12px;
          margin-right: 10px;
          background-color: rgb(239, 249, 254);
        }

        #result > span {
            font-weight: bold;
        }

        #result, #reset {
            display: none;
        }

        #reset>button {
            width: 80px;
            height: 30px;
        }

        #backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 10;
            background: rgba(0, 0, 0, 0.75);
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          #modal {
            padding: 0;
            position: fixed;
            top: 30vh;
            left: 10%;
            width: 10%;
            overflow: hidden;
            background-color: white;
            text-align: center;
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 100;
            
          }

          .card {
            background-color: white;
            width: 300px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px;
            border-radius: 10px;
            position: fixed;
            z-index: 100;
            border: 2px solid black;
            
          }

        @media screen and (max-width: 440px) {
            
            #clock {
                width: 250px;
            }

            #form {
                flex-direction: column;
                align-items: center;
            }

            input {
                width: 150px;
                margin: 10px;
            }

            #result  {
                font-size: 14px;
            }

            .card  {
                width: 200px;
            }
        }
        
